<h1><%= @parks.size %> Results</h1>
<% @parks.each do |park| %>
  <section class='park'>
    <h2 class='name'><% park[:fullName] %></h2>
    <h2 class='description'><% park[:description] %></h2>
    <h2 class='directions'><% park[:directionsInfo] %></h2>
    <h2 class='hours'><% park[:operatingHours] %></h2>
  </section>
<% end %>
